body {
  padding-top: 50px;
  height: 100%;
}

.credits h1{
	font-size: 30px;
}

.credits h2{
	font-size: 25px;
}

.credits h3{
	font-size: 20px;
}

.credits a{
	font-size: 20px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#footer {
	display: table;
	width: 100%;
}

#footer .container {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#footer .container .glyphicon {
	vertical-align: middle;
}